<footer class="">
    <hr />
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/custom-craft-software/utils">GitHub Repository</a> |
            <a href="https://www.npmjs.com/package/@custom-craft-software/utils">npm Package</a> |
        </p>
        <p>
            For support, feedback, or issues, please visit:
            <br>
            <a href="https://github.com/custom-craft-software/utils/issues">GitHub Issues</a> |
            Contact: <a href="mailto:support@customcraftsoftware.com">support@customcraftsoftware.com</a>
        </p>
        <p>
            Stay updated with Custom Craft Software:
            <br>
            <a href="https://twitter.com/customcraftsoft">Twitter</a> |
            <a href="https://customcraftsoftware.com/blog">Blog</a>
        </p>
        <p>
            <small>© 2024 Custom Craft Software. All rights reserved.</small>
        </p>
    </div>
</footer>