<aside class="menu">
    <h2 class="menu-label has-text-primary has-text-centered is-uppercase has-text-weight-bold">Utils Components</h2>
    <ul class="menu-list">
        {% for component in site.data.utils_components.children %}
        <li class="is-italic">{{ component.title }}</li>
        {% endfor %}
    </ul>
</aside>

<aside class="menu">
    <h2 class="menu-label has-text-primary has-text-centered is-uppercase has-text-weight-bold">Widgets</h2>
    <ul class="menu-list">
        {% for widget in site.data.widgets.children %}
        <li class="is-italic">{{ widget.title }}</li>
        {% endfor %}
    </ul>
</aside>

<aside class="menu">
    <h2 class="menu-label has-text-primary has-text-centered is-uppercase has-text-weight-bold">Utils Functions</h2>
    <ul class="menu-list">
        {% for function in site.data.utils_functions.children %}
        <li class="is-italic">{{ function.title }}</li>
        {% endfor %}
    </ul>
</aside>