<nav class="menu">
    <ul class="menu-list">
        {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% if item.children %}
                    <ul>
                        {% for child in item.children %}
                            <li>
                                <a href="{{ child.url }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if item.items %}
                    <ul>
                        {% for subitem in item.items %}
                            <li>
                                <a href="{{ subitem.path }}">{{ subitem.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>