<aside class="menu">
    <ul class="menu-list">
        {% for item in site.data.sidebar %}
            <li>
                <a class="primary-text is-uppercase has-text-weight-bold" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% if item.children %}
                <ul>
                    {% for child in item.children %}
                    <li><a class="primary-text is-uppercase has-text-weight-bold" href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</aside>