.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%; /* Adjust the width of the sidebar */
    overflow-y: auto; /* Enable scrolling if sidebar content exceeds viewport height */
    padding-top: 1.5rem; /* Adjust top padding as needed */
    border-right: 1px solid #dbdbdb; /* Optional: Add a border for separation */
}

.main-content {
    margin-left: 20%; /* Ensure main content area doesn't overlap with fixed sidebar */
    padding: 1rem; /* Optional: Add padding to the main content */
}

.menu-list a {
    color: #ddd;
}

.menu-list a:hover {
    color: #363636;
    background-color: hsl(171, 100%, 96%);
}

.navbar {
    background-color: #6937FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
}

#search-input {
    width: 20rem;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#results-container {
    list-style: none;
    padding: 0;
}

#results-container li {
    margin-bottom: 10px;
}