<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{page.title}} | CustomCraft Software</title>
        <meta name="description" content="CustomCraft Software documentation for npm library">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <link rel="stylesheet" href="{{ '/assets/styles/styles.css' | relative_url }}">
    </head>
    <body>
        <div class="is-hidden-mobile">
            {% include navbar.html %}
        </div>  

        <div class="columns is-mobile is-multiline">
            <div class="column is-12 mt-6 pl-5">
                <div class="container">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <aside class="column is-2-tablet is-3-desktop is-hidden-mobile sidebar">
                {% include sidebar_menu.html %}
            </aside>

            <main class="column is-10-tablet is-9-desktop content">
                <div class="container">
                    {{ content }} 
                </div>
            </main>
        </div>

        {% include footer.html %}
    </body>
</html>