<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docs</title>
    <meta name="description" content="library website npm docs">
    <!-- Add any other meta tags here -->

    <!-- CSS stylesheets and other resources can be linked here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <!-- Add your JavaScript files here -->
    
    <!-- Add any structured data markup here -->
</head>
<body>
    {% include navbar.html %}

    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-fifth">
                <nav class="sidebar">
                    {% include sidebar_menu.html %}
                </nav>
            </div>
    
            <div class="column">
                <div class="container">
                    <ul id="results-container"></ul>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.10.4/dist/algoliasearch-lite.umd.js"></script>
    <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
</body>
</html>